<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  <title>School Transcript - Privacy Policy</title>

  <!-- Bootstrap core CSS -->
  <link href="public/landing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="public/landing/assets/css/templatemo-chain-app-dev.css">
  <link rel="stylesheet" href="public/landing/assets/css/animated.css">
  <link rel="stylesheet" href="public/landing/assets/css/owl.css">

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="#" class="logo">
              <img width="80" height="80" src="public/landing/assets/images/logo.png" alt="Transcript Logo">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li>
                <div class="gradient-button"><a href="/"><i class="fa fa-sign-in-alt"></i> Inicio</a></div>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
      <span class="header_title">Login</span>
      <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>
  </div>

  <div id="services" class="services section">
   
  <div class="col-12">

  <div class="container">
    <h1>Privacy Policy</h1>
    <p><strong>Last Updated: Dez 27, 2024</strong></p>
    <h2>Introduction</h2>
    <p>Welcome to Transcript, an all-in-one student evaluation system designed for schools and universities. We
      understand the importance of protecting your privacy and are committed to safeguarding your personal information.
      This Privacy Policy explains how we collect, use, disclose, and protect your information.</p>
    <h2>Information We Collect</h2>
    <ul>
      <li><strong>Personal Information:</strong> We may collect personal information such as your name, email address,
        and contact details when you register for an account or contact us for support.</li>
      <li><strong>Academic Information:</strong> This includes student grades, attendance records, and other academic
        performance data.</li>
      <li><strong>Usage Data:</strong> We collect information on how you interact with the app, including access times,
        pages viewed, and other usage patterns.</li>
    </ul>
    <h2>How We Use Your Information</h2>
    <ul>
      <li><strong>To Provide Services:</strong> We use the information collected to deliver and improve our services,
        including evaluating and reporting on student performance.</li>
      <li><strong>Communication:</strong> We may use your contact information to send you updates, newsletters, and
        respond to your inquiries.</li>
      <li><strong>Analytics:</strong> To better understand how our users interact with the app and to enhance the user
        experience.</li>
    </ul>
    <h2>Data Sharing and Disclosure</h2>
    <ul>
      <li><strong>With Your Consent:</strong> We will share your personal information with third parties only with your
        explicit consent.</li>
      <li><strong>Service Providers:</strong> We may share your information with third-party service providers who
        assist us in operating our app and providing services.</li>
      <li><strong>Legal Requirements:</strong> We may disclose your information if required by law or in response to a
        valid request from governmental authorities.</li>
    </ul>
    <h2>Data Security</h2>
    <p>We take data security seriously and implement appropriate technical and organizational measures to protect your
      information against unauthorized access, alteration, disclosure, or destruction.</p>
    <h2>Your Rights</h2>
    <ul>
      <li><strong>Access and Correction:</strong> You have the right to access and update your personal information at
        any time.</li>
      <li><strong>Data Deletion:</strong> You can request the deletion of your personal information, subject to certain
        legal obligations.</li>
      <li><strong>Opt-Out:</strong> You can opt-out of receiving promotional communications from us at any time.</li>
    </ul>
    <h2>Changes to This Privacy Policy</h2>
    <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes by posting the
      new Privacy Policy on our app and updating the "Last Updated" date.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about this Privacy Policy, please contact us at:</p>
    <p>gabriel.vieira24@outlook.com</p>
    <br>
    <br>
    <br>
  </div>

</div>
</div>

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Registre seu endereço de e-mail </h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on"
                    required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Subscrever <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Zona Comercial, Lobito - Bg., Angola</p>
            <p><a href="tel:943962996">943962996</a></p>
            <p><a href="mailto:gabriel.vieira24@outlook.com">gabriel.vieira24@outlook.com</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Menu</h4>
            <ul>
              <li><a href="#top">Home</a></li>
              <li><a href="#services">Funcionalidades</a></li>
              <li><a href="#about">Sobre o App</a></li>
              <li><a href="#pricing">Preços</a></li>
              <li><a href="#newsletter">Newsletter</a></li>
              <li><a href="#contact">Contato</a></li>
              <li><a href="/admin">Gestão</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Links Uteis</h4>
            <ul>
              <li><a href="/privacy-policy">Politica de Privacidade</a></li>
              <li><a href="/terms-conditions">Termos e Condições</a></li>
              <li><a href="#">Repositório backend</a></li>
              <li><a href="#">Repositório frontend</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Transcript - Históricos Escolares</h4>
            <div class="logo">
              <img src="public/landing/assets/images/logo.png" alt="">
            </div>
            <p>Transcript é uma ferramenta para estudantes e professores que permite o compartilhamento de notas e
              avaliações.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2024. All Rights Reserved.
              <br>By: <a href="https://github.com/gabrielgits" target="_blank" title="css templates">GV</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>



  <!-- Scripts -->
  <script src="public/landing/vendor/jquery/jquery.min.js"></script>
  <script src="public/landing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="public/landing/assets/js/owl-carousel.js"></script>
  <script src="public/landing/assets/js/animation.js"></script>
  <script src="public/landing/assets/js/imagesloaded.js"></script>
  <script src="public/landing/assets/js/popup.js"></script>
  <script src="public/landing/assets/js/custom.js"></script>
</body>

</html>